/*anime.html*/

#anime_image {
  width: 300px;
  height: 390px;
  border: 2px solid black;
}

#anime_data {
  height: 420px;
}

#anime_data h1 {
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.data_header {
  font-weight: bold;
}

.data_value {
  margin-left: 5px
}

#rating_data_container {
  display: flex; 
  justify-content: flex-start;
}

#episode_data_container {
  display: flex; 
  justify-content: flex-start;
}

#add_to_watchlist {
  text-align: left; 
  padding-left: 5px; 
  height: 30px; 
  width: 130px
}

.stars {
  float: left; 
  font-size: 50px;
}

.stars:hover {
  color: gold;
  cursor: pointer;
}

#stars_container {
  display: flex; 
  justify-content: space-around; 
  border: solid black 1px;
}
#review_container {
  border: solid black 1px;
  height: 320px;
}

#review_label {
  margin-top: 5px; 
  text-align: center; 
}

#write_a_review_container {
  width: 100%; 
  display: flex; 
  justify-content: center;
}

#write_a_review {
  height: 250px; 
  width: 95%; 
  resize: none;
}

#submit_review {
  margin-top: 5px; 
  width: 94%
}

#review_container_bottom {
  display: flex; 
  justify-content: center;
}

.review_username {
  min-height: 30px; 
  border: 1px solid black; 
  margin-bottom: 0; 
  padding-left: 10px; 
  background-color: black; 
  color: white;
}

.review_text {
  padding-left: 10px; 
  padding-top: 5px; 
  border: 1px solid black; 
  margin-top: 0; 
  min-height: 50px; 
  background-color: white
}

#reviews_container {
  display: flex; 
  flex-direction: column;
}

