/*
Kevin Chen, James Marlin, Quoc Nguyen
*/

body {
	margin: 3em;
}

* {
	padding: 0;
	margin: 0;
}

.menu-wrapper {
	position: relative;
	max-width: 500px;
	height: 100px; 
	margin: 1em auto;
	border: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.menu	{
	height: 120px;
	background: #f3f3f3;
	box-sizing: border-box;
	
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	
	
}

.menu .item {
  display: inline-block;
  width: 100px;
  height: 100%;
  outline: 1px dotted gray;
  padding: 1em;
  box-sizing: border-box;
}


.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
}

.print {
	margin: auto;
	max-width: 500px;
}

.print .span{
  display: inline-block;
  width: 100px;
}

#navbar {
  width: 100%;
  position: fixed;
  height: 50px;
  z-index: 5;
  top: 0;
}
#navbar div {
  color: white;
  line-height: 50px;
  float: left;
  text-align: center;
}

#site_id {
  background-color: black;
  width: 25%;
}

#user_related {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 50px;
  width: 25%;
}
 

#animerec {
  margin-left: 15px;

}
.container img{
  width:  200px;
  height: 300px;
}

button {
  background-color: lightgrey;
}

#profile_button {
  background-color: black;
}

#image_1 {
  opacity: 1;
}

#image_1:hover{
  opacity: 0.5;
}
#search_bar {
  background-color: black;
  height: 50px;
  width: 50%;
}
#search_results{
  margin-top: 75px;
  text-align: center;
}
#help{
  margin-top: 75px;
  margin-left: 15px;
}

#welcome_message{
  margin-top: 75px;
}

#greeting{
  text-align: left;

}


#genre_romance{
	position: relative;
	width: 100%;
	height: 350px; 
	margin: 1em auto;
	border: 1px solid black;
	overflow-x: scroll;
	overflow-y: hidden;
}


.romance_menu::-webkit-scrollbar{
  display: none;
}

.romance_menu .romance_genre_item{
  display: inline-block;
  width: 250px;
  height: 100%;
  padding: 1em; 
  box-sizing: border-box;
}

.rightpaddle {
	position: absolute;
	top: 990;
	bottom: 500;
  height: 360px;
	width: 50px;
  z-index: 10;
 
}
/* .left-paddle {
	left: 0;
}
*/


/*index.html*/
.genre_container {
  margin: auto;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
}

.genre_container #romance_container{
  margin: auto;
  display: flex;
  justify-content: flex-start;
  background-color: blue;
  z-index: 100;
}

/*anime.html*/
#anime_anime_name {
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

#anime_image {
  width: 300px;
  height: 420px;
  border: 2px solid black;
}

#episode_data_container {
  display: flex; 
  justify-content: flex-start;
}

#add_to_watchlist {
  text-align: left; 
  padding-left: 5px; 
  height: 30px; 
  width: 130px
}

.stars {
  float: left; 
  font-size: 50px;
}
#star_1:hover {
  color: gold;
  cursor: pointer;
}
#star_2:hover {
  color: gold;
  cursor: pointer;
}
#star_3:hover {
  color: gold;
  cursor: pointer;
}

#star_4:hover {
  color: gold;
  cursor: pointer;
}


#star_5:hover {
  color: gold;
  cursor: pointer;
}

#stars_container {
  display: flex; 
  justify-content: space-around; 
  border: solid black 1px;
}
#review_container {
  border: solid black 1px;
  height: 320px;
}

#review_label {
  margin-top: 5px; 
  text-align: center; 
}

#write_a_review_container {
  width: 100%; 
  display: flex; 
  justify-content: center;
}
#write_a_review {
  height: 250px; 
  width: 95%; 
  resize: none;
}

#submit_review {
  margin-top: 5px; 
  width: 94%
}

#review_container_bottom {
  display: flex; 
  justify-content: center;
}

/*profile.html*/
.watchlist_anime_image {
  border: 1px solid black; 
  width:200px;
  height:300px;
  margin-left: 0px;
  position: absolute;
}

.watchlist_anime_image:hover {
  opacity: 0.3;
  transition: 500ms opacity;
}
/*search.html*/
.search_anime_image {
  border: 5px solid black;
  width: 200px; 
  height: 300px;  
}
