{% extends 'navbar.html'%}

{% block content %}
<div class="container" style="width: 80%; margin-top: 75px;">
    <div class="row">
      <div style="height: 420px;" class="col-lg-4">
        <img id="anime_image" src='/{{pic}}' alt="" srcset="">
      </div>
      <div style="height: 420px;" class="col-lg-4">
        <h1 id="anime_anime_name">{{anime_name}}</h1>
        <div style="display: flex; justify-content: flex-start;">
          <h3 style="font-weight: bold;">MyAnimeList Rating:</h3>
          <h3 style="margin-left: 5px;">{{mal_rating}}</h3>
        </div>
        <div style="display: flex; justify-content: flex-start;">
          <h3 style="font-weight: bold;">Episodes:</h3>
          <h3 style="margin-left: 5px;">{{num_episodes}}</h3>
        </div>
        <div style="margin-top: 20px;">
          <button style="text-align: left; padding-left: 5px; height: 30px; width: 130px">
            Add to watchlist +
          </button>
        </div>
      </div>
      <div class="col-lg-4" >
        <div class="stars" style="display: flex; justify-content: space-around; border: solid black 1px;">
          <div id="star_1" style="float: left; font-size: 50px;">
            &starf;
          </div>
          <div id="star_2" style="float: left; font-size: 50px;">
            &starf;
          </div>
          <div id="star_3" style="float: left; font-size: 50px;">
            &starf;
          </div>
          <div id="star_4" style="float: left; font-size: 50px;">
            &starf;
          </div>
          <div id="star_5" style="font-size: 50px;">
            &starf;
          </div>
        </div>
        <div style="border: solid black 1px;">
          <div style="width: inherit; height: 320px;">
            <p style="margin-top: 5px; text-align: center;">write a review</p>
            <div style="width: 100%; display: flex; justify-content: center;">
            <textarea id="write_a_review" style="height: 250px; width: 95%; resize: none;">
            </textarea>
            </div>
            <div style="display: flex; justify-content: center;">
            <button style="margin-top: 5px; width: 94%">
              Submit
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<style>
#anime_anime_name {
  font-family: 'Courier New', monospace;
  font-weight: bold;
}
#nav {
  height: 50px;
  background-color: black;
  color: white;
  line-height: 50px;
}

#nav div {
  float: left;  
  width: 33.3%;
}

#anime_image {
  width: 300px;
  height: 420px;
}

.stars div {
  padding: 10px;
}


#star_1:hover {
  color: gold;
  cursor: pointer;
}
#star_2:hover {
  color: gold;
  cursor: pointer;
}
#star_3:hover {
  color: gold;
  cursor: pointer;
}

#star_4:hover {
  color: gold;
  cursor: pointer;
}

#star_5:hover {
  color: gold;
  cursor: pointer;
}

</style>
{% endblock %}
