{% extends "navbar.html" %}
{% block content %}

 <div id = "animerecbody">
    <div class="container" style = "width: 80%;overflow: auto; margin-top: 40px;">
  
      <h3 id= "animerec" style="margin-left: 1px;">Anime Recommendations</h3>
      <div class="row">
        <div style="width: 80%; display: flex; justify-content: flex-start">
        <div style="margin: 15px">
            <img id="image_1" src='https://m.media-amazon.com/images/M/MV5BNzQ1MmJjZDUtMmI5OC00ZDk2LThkODQtODgwYmU0MTIzNDhmXkEyXkFqcGdeQXVyNDgyODgxNjE@._V1_UY1200_CR85,0,630,1200_AL_.jpg' class="..." alt="EXPIC3"/>
            <p id="put_data_here_1"></p>
            <button id="button_1" type="button" class="btn btn-outline-primary">click here</button>
        </div>
        <div style="margin: 15px">
            <img id="image_2" src="https://m.media-amazon.com/images/M/MV5BNzQ1MmJjZDUtMmI5OC00ZDk2LThkODQtODgwYmU0MTIzNDhmXkEyXkFqcGdeQXVyNDgyODgxNjE@._V1_UY1200_CR85,0,630,1200_AL_.jpg" class="..." alt="EXPIC3">
            <p id="put_data_here_2"></p>
          <div class="card-body">
            <button id="button_2" type="button" class="btn btn-outline-primary">click here</button>
          </div>
        </div>
        <div style="margin: 15px">
            <img id="image_3" src="https://m.media-amazon.com/images/M/MV5BNzQ1MmJjZDUtMmI5OC00ZDk2LThkODQtODgwYmU0MTIzNDhmXkEyXkFqcGdeQXVyNDgyODgxNjE@._V1_UY1200_CR85,0,630,1200_AL_.jpg" class="..." alt="EXPIC3">
      </div>
      <div style="margin: 15px">
          <img src="https://m.media-amazon.com/images/M/MV5BNzQ1MmJjZDUtMmI5OC00ZDk2LThkODQtODgwYmU0MTIzNDhmXkEyXkFqcGdeQXVyNDgyODgxNjE@._V1_UY1200_CR85,0,630,1200_AL_.jpg" class="..." alt="EXPIC3">
      </div>
      </div>
    </div>
    </div>

    <h3 style="margin-left: 135px;">Action</h3>
    <div class = "row">
      <div style="margin: auto; width: 80vw; overflow: auto; display: flex; justify-content: flex-start;" id="genre_action"></div>
    </div>
  
    <div class = "row">
      <h3 style="margin-left: 150px">Romance</h3>
      <div style="margin: auto; width: 80vw; overflow: auto; display: flex; justify-content: flex-start;" id="genre_romance"></div>
    </div>
</div>
{% endblock %}
