{% extends "navbar.html" %}

{% block content %}
<form method="POST" action="api/login">
<div style="height: 100vh; weight: 100vw; display: flex; justify-content: center; align-items: center;">
    <div>
      <div>
        <input type="username" name="username" placeholder="Your Username" autofocus="">
      </div>
    </div>
    <div>
      <div>
        <input type="password" name="password" placeholder="Your Password">
      </div>
    </div>
   <div>
     <label>
     <input type="checkbox">
        Remember me
     </label>
   </div>
   <div>
     <button>Login</button>
    </div>
    </div>
</form>
{% endblock %}
