{% extends "navbar.html" %}

{% block content %}
<form method="POST" action="api/login">
<div style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div>
      <h3 style="text-align: center;">Log In</h3>
      <div>
        <div style="padding: 10px">
          <input type="username" name="username" placeholder="Your Username" autofocus="">
        </div>
      </div>
      <div>
        <div style="padding: 10px">
          <input type="password" name="password" placeholder="Your Password">
        </div>
      </div>
      <div style="text-align:center;">
        <label>
        <input type="checkbox">
         Remember me
        </label>
      </div>
      <div style="width: inherit; text-align:center;">
        <button>Login</button>
      </div>
    </div>
</form>
{% endblock %}
