{% block import %}
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}"/>
{% endblock %}

{% extends "navbar.html" %}

{% block content %}
<div id="login_container">
  <div id="error">
      {{error}}
  </div>
  <form method="POST" action="/api/login">
      <div>
        <h3>Log In</h3> 
      <div>
          <div style="padding: 10px">
            <input type="username" name="username" placeholder="Your Username" autofocus="">
          </div>
        </div>
        <div>
          <div style="padding: 10px">
            <input type="password" name="password" placeholder="Your Password">
          </div>
        </div>
        <div id="remember_me">
          <label>
          <input type="checkbox">
           Remember me
          </label>
        </div>
        <div id="login_button">
          <button>Login</button>
        </div>
  </form>
</div>
{% endblock %}
